{% extends "base.html" %}
{% load static %}
{% load learning_resource_extras %} <!-- Correctly load the custom template filters -->
{% block title %}{{ learning_route.skill_level.skill.name }} learning route (level {{ learning_route.skill_level.level }}){% if learning_route.completed %} (Completed){% endif %} - Learning Route Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/learningroutedetail.css' %}">
{% endblock %}

{% block content %}
<div class="route-container">
    <h2 class="route-title">
        <img height="65" src="{{ learning_route.skill_level.skill.image.url }}" alt="learning route image">
        <strong>{{ learning_route.skill_level.skill.name }}</strong> learning route (level {{ learning_route.skill_level.level }}){% if learning_route.completed %} (Completed){% endif %}
    </h2>

    <!-- Progress Bar -->
    <div id="progress-bar-container">
        <div id="progress-bar"></div>
        <span id="progress-percentage"></span>
    </div>

    <a href="{% url 'learning_route_update' learning_route.id %}">
        <button class="btn btn-primary">Regenerate Learning Routes</button>
    </a>

    {% for level_resources in learning_route_resources_by_level %}
    <table class="table-list-group">
        <thead>
            <tr>
                <th>Level {{ level_resources.level }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul class="list-group">
                        {% for learning_route_resource in level_resources.resources %}
                        <a href="{% url 'learning_resource_detail' learning_route_resource.learning_resource.id learning_route_resource.id %}" target="_blank">
                            {% if learning_route_resource.completed %}
                            <li class="list-group-item disabled">
                                <span class="resource-name">{{ learning_route_resource.learning_resource.name }}</span>
                                <span class="icons">
                                    <!-- Icon based on media type -->
                                        <i class="fas fa-eye"></i>
                                    {% if learning_route_resource.learning_resource.media_type == "Video" %}
                                        <i class="fas fa-video"></i>
                                    {% elif learning_route_resource.learning_resource.media_type == "Audio" %}
                                        <i class="fas fa-music"></i>
                                    {% else %}
                                        <i class="fas fa-file-alt"></i>
                                    {% endif %}
                                    <!-- Icon for language -->
                                    <img src="{% static lang_flag|get_flag:learning_route_resource.learning_resource.language %}" alt="Flag" class="flag-icon">
                                    <!-- Icon for duration -->
                                    <i class="fas fa-clock"> {{ learning_route_resource.learning_resource.duration }} min.</i>
                                </span>
                            </li>
                            {% else %}
                            <li class="list-group-item">
                                <span class="resource-name">{{ learning_route_resource.learning_resource.name }}</span>
                                <span class="icons">
                                    <!-- Icon based on media type -->
                                        <i class="fas fa-eye-slash"></i>
                                    {% if learning_route_resource.learning_resource.media_type == "Video" %}
                                        <i class="fas fa-video"></i>
                                    {% elif learning_route_resource.learning_resource.media_type == "Audio" %}
                                        <i class="fas fa-music"></i>
                                    {% else %}
                                        <i class="fas fa-file-alt"></i>
                                    {% endif %}
                                    <!-- Icon for language -->
                                    <img src="{% static lang_flag|get_flag:learning_route_resource.learning_resource.language %}" alt="Flag" class="flag-icon">
                                    <!-- Icon for duration -->
                                    <i class="fas fa-clock"> {{ learning_route_resource.learning_resource.duration }} min.</i>
                                </span>
                            </li>
                            {% endif %}
                        </a>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    {% endfor %}
</div>

<!-- Progress Bar -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const total = "{{ total_resources|default:0 }}";
        const completed = "{{ completed_resources|default:0 }}";
        const percentage = total ? (completed / total) * 100 : 0;
        document.getElementById('progress-bar').style.width = percentage + '%';
        document.getElementById('progress-percentage').innerText = Math.round(percentage) + '%';
    });
</script>
{% endblock %}