{% extends "base.html" %}
{% load static %}
{% block title %}Learning Route Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/learningroutedetail.css' %}">
{% endblock %}

{% block content %}
<div class="route-container">
    <h2 class="route-title">Learning Route</h2>

    <table class="table-list-group">
        <thead>
            <tr>
                <th>Elements</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item">Item 1</li>
                        <li class="list-group-item">Item 2</li>
                        <li class="list-group-item disabled">Item 3 (Disabled)</li>
                        <li class="list-group-item">Item 4</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table-list-group">
        <thead>
            <tr>
                <th>Elements</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item">Item 1</li>
                        <li class="list-group-item">Item 2</li>
                        <li class="list-group-item disabled">Item 3 (Disabled)</li>
                        <li class="list-group-item">Item 4</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}