/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    width: 16%;
    margin: 15px;

}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    padding: 15px;
}

.card h3 {
    font-size: 1.5rem;
    color: #1a73e8;
}

.card p {
    font-size: 1.2rem;
    color: #555;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 2 12px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .card-link {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .card-link {
        width: 70%;

    }
}