.route-container {
    text-align: center;
    margin-top: 50px;
}


.route-title {
    font-size: 2rem;
    color: #1a73e8;
    margin-bottom: 30px;
    margin-top: 30px;
}

.table-list-group {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #ddd;
}

.table-list-group th,
.table-list-group td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    vertical-align: top;
    color: #333;
    font-size: 1.2rem;
}

.table-list-group th {
    background-color: #f1f1f1;
    color: #1a73e8;
    font-weight: bold;
}


.list-group {
    list-style-type: none;
    padding-left: 0;
    z-index: 1;
    flex: 1;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 18px;
    text-align: left;
    color: #333;
}


.list-group-item .resource-link {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
}


.list-group-item .resource-name {
    flex: 1;
}


.list-group-item .icons {
    display: flex;
    gap: 10px;
    color: #1a73e8;
    justify-content: flex-end;
    pointer-events: none;
}

.list-group-item .icons i {
    pointer-events: auto;
}

.list-group-item.disabled {
    color: #ccc;
    pointer-events: none;
    border: #1a73e8;
}
.list-group-item .resource-name:hover {
    background-color: #f9f9f9;
}


.resource-link {
    text-decoration: none;
    color: inherit;
}


.list-group-item .icons:hover,
.list-group-item .icons i:hover {
    text-decoration: none;
    color: #1a73e8;
}


.list-group-item i {
    margin-right: 8px;
    color: #1a73e8;
}

.list-group-item i:hover {
    color: #1a73e8;
}

a .icons {
    text-decoration: none;
}

a .icons:hover {
    text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
    .table-list-group {
        width: 100%;
    }

    .table-list-group th,
    .table-list-group td {
        padding: 15px;
    }

    .list-group-item {
        font-size: 16px;
        padding: 10px;
    }
}

/* Progress Bar Styles */
#progress-bar-container {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 25px;
    margin: 20px auto;
    position: relative;
}

#progress-bar {
    height: 20px;
    background-color: #1a73e8;
    width: 0%;
    border-radius: 25px;
    transition: width 0.5s;
}

#progress-percentage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #fff;
}

/* Style for the flag icon */
.flag-icon {
    width: 20px;                /* Set the desired width */
    height: auto;               /* Maintain aspect ratio */
    margin-right: 5px;          /* Space between flag and other icons */
    vertical-align: middle;     /* Align vertically with text/icons */
}