{% extends "base.html" %}
{% load static %}
{% block title %}Learning Route Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/learningresourcedetail.css' %}">
{% endblock %}

{% block content %}
<div class="container-resource">
    <!-- Course Information Section -->
    <div class="course-header">
        <h1>{{ learning_resource.name }}</h1>
        <p>{{ learning_resource.details }}</p>
        <a href="{{ learning_resource.link }}">
            <button class="start-now">Open Content</button>
        </a>
    </div>


    <div class="course-content">
        <!-- Column 1: Course Rating -->
        <div class="course-column">
            <div class="course-rating">
                <ul>
                    <li><strong>Name:</strong> {{ learning_resource.name }}</li>
                    <li><strong>Media type:</strong> {{ learning_resource.media_type }}</li>
                    {% if learning_resource.original_author %}
                        <li><strong>Original author:</strong> {{ learning_resource.original_author }}</li>
                    {% else %}
                        <li><strong>Unknown original author</strong></li>
                    {% endif %}
                    <li><strong>Duration:</strong> {{ learning_resource.duration }}</li>
                    {% if learning_resource.required_skills.all %}
                        <li><strong>Required skills:</strong></li>
                        {% for skill_level in learning_resource.required_skills.all  %}
                            <li>➤ {{ skill_level.skill.name }} - Level {{ skill_level.level }}</li>
                        {% endfor %}
                    {% else %}
                        <li><strong>Does not require skills</strong></li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>

        <!-- Column 2: Course Details and Start Button -->
        <div class="course-column">
            <div class="course-details">
                <ul>
                    <li><strong>Language:</strong> {{ learning_resource.language|upper }}</li>
                    <li><strong>Content type:</strong> {{ learning_resource.content_type }}</li>
                    <li><strong>Original platform:</strong> {{ learning_resource.original_platform }}</li>
                    <li><strong>General level:</strong> {{ learning_resource.general_level }}</li>
                    <li><strong>Learning skills:</strong></li>
                    {% for skill_level in learning_resource.learning_skills.all  %}
                        <li>➤ {{ skill_level.skill.name }} - Level {{ skill_level.level }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <!-- Review Section -->
    <div class="review-section">
        <h3>Write A Review</h3>
        <textarea placeholder="Type Something..."></textarea>
        <div class="review-rating">
            <p>⭐ ⭐ ⭐ ⭐ ⭐</p>

        </div>
        <button>Submit Review</button>
        <h3>Reviews</h3>
        <div class="review">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deserunt natus iure accusantium sequi,
                maiores ex sunt, quas in corrupti molestiae facere voluptatibus autem reprehenderit unde vitae iusto
                itaque! Consequatur.</p>
        </div>
    </div>
    {% endblock %}